{% extends "base.html" %}
{% block t %}Add Book{% endblock t %}
{% block b %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-dark" href="/dashboard">Dashborad</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/issue">Issue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/modify">Modify</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/add_book">Add Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/addstu">Add Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="/logout">Logout</a>
  </li>
</ul>

<div class="container">
    <form method="post" action="/add_book">
        <div class="mb-3 my-3">
            <label class="form-label">Title</label>
            <input type="text" name="Title" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" name="Author" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<!--List of books-->
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}

        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td><a href="/delbook/{{book.id}}" type="button" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock b %}