{% extends "base.html" %}
{% block t %}Add Student{% endblock t %}
{% block b %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-dark" href="/dashboard">Dashborad</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/issue">Issue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/modify">Modify</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/add_book">Add Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/addstu">Add Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="/logout">Logout</a>
  </li>
</ul>

<div class="container">
  <button type="button" class="btn btn-success" id="singleBtn">Single Entry</button>
  <button type="button" class="btn btn-warning" id="bulkBtn">Bulk Entry</button>
  <!-- Single Entry -->
<form method="post" action="/addstu" id="singleForm" >
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" name="mail" class="form-control">
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Bulk Entry -->
 <form action="/addstus" method="post" id="bulkForm" class="d-none" enctype="multipart/form-data">
   <div class="m-3">
     <input type="file" name="csvfile" accept=".csv" required>
    </div>
  <button type="submit">Entry</button>
  <a href="/static/data.csv" download>File Format</a>
</form>
</div>

<!-- For looking student list -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sl No.</th>
      <th scope="col">Name</th>
      <th scope="col">Mail</th>
      <th scope="col">Year</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
    {% for stu in stus %}
    <tr>
      <th scope="row">{{stu.id}}</th>
      <td>{{stu.name}}</td>
      <td>{{stu.mail}}</td>
      <td>{{stu.passout}}</td>
      <td><a href="/delstu/{{stu.id}}" type="button" class="btn btn-sm btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const singleForm = document.getElementById("singleForm");
    const bulkForm = document.getElementById("bulkForm");
    const singleBtn = document.getElementById("singleBtn");
    const bulkBtn = document.getElementById("bulkBtn");

    singleBtn.addEventListener("click", function() {
        singleForm.classList.remove("d-none");
        bulkForm.classList.add("d-none");
    });

    bulkBtn.addEventListener("click", function() {
        bulkForm.classList.remove("d-none");
        singleForm.classList.add("d-none");
    });
});
</script>

{% endblock b %}