{% extends "base.html" %}

{% block start %}
    
<p> Contact list of the developer below</p>
<table class="table table-striped-columns">
    <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Ph no</th>
    </tr>
    <tr>
        <td>Biswayan B.Mal</td>
        <td>39</td>
        <td>8***06**63</td>
    </tr>
    <tr>
        <td>Avisikta</td>
        <td>47</td>
        <td>7*80*1***1</td>
    </tr>
    <tr>
        <td>Biswadip</td>
        <td>21</td>
        <td>9876543210</td>
    </tr>
</table>

{% endblock start %}

