{% extends "base.html" %}
{% block t %} Contact Us {% endblock t %}
{% block b %}
    
<p> Contact list of the developer below</p>
<div class="container">
<table class="table table-striped-columns">
    <tr>
        <th>Name</th><th>Roll No</th><th>Ph no</th>
    </tr>
    <tr>
        <td>Biswayan B.Mal</td>
        <td>39</td>
        <td>8***06**63</td>
    </tr>
    <tr>
        <td>Avisikta</td>
        <td>47</td>
        <td>7*80*1***1</td>
    </tr>
    <tr>
        <td>Ankit</td>
        <td>27</td>
        <td>798*2**78*</td>
    </tr>
    <tr>
        <td>Kaushiki</td>
        <td>61</td>
        <td>9*5*9*7**6*</td>
    </tr>
</table>
</div>

{% endblock b %}

