{% extends "base.html" %}
{% block t %} Hello User {% endblock t %}

{% block b %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active">Dashborad</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/issue">Issue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/modify">Modify</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/add_book">Add Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/addstu">Add Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="/logout">Logout</a>
  </li>
</ul>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sn no.</th>
            <th scope="col">Student Name</th>
            <th scope="col" class="text-danger">Fine</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        {% for each in duelist %}

        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{each.name}}</td>
            <td class="text-danger">{{each.fine}}</td>
            <td><a href="/paid/{{each.id}}" type="button" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% endblock b %}