{% extends "base.html" %}
{% block t %} Hello User {% endblock t %}
{% block b %}

<form class="d-flex align-items-center gap-3 my-3 px-3" role="search" action="/search" method="GET">
  <label for="book-search" class="form-label mb-0">
    <h5 class="mb-0">🔎 Search for a book:</h5>
  </label>
  <input class="form-control" type="search" name="q" id="book-search" placeholder="Enter book title or author..."
    aria-label="Search" required>
  <button class="btn btn-success" type="submit">Search</button>
</form>


{% endblock b %}