{% extends "base.html" %}
{% block t %} Hello User {% endblock t %}
{% block b %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-dark" href="/dashboard">Dashborad</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/issue">Issue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/modify">Modify</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/add_book">Add Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/addstu">Add Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="/logout">Logout</a>
  </li>
</ul>

<form class="d-flex gap-3 container" role="search" action="/modify" method="post">
  <label for="book-search" class="form-label mb-0">
    <h5 class="mb-0">🔎 Search Student</h5>
  </label>
  <input class="form-control" type="search" name="sid" id="sid" placeholder="Enter it's ID..."
    aria-label="Search" required>
  <button class="btn btn-success" type="submit">Search</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Student Name</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>

    {% for book in books %}

    <tr>
      <th scope="row">{{book.id}}</th>
      <td>{{book.user}}</td>
      <td><a href="/renew/{{book.id}}" type="button" class="btn btn-sm btn-secondary mx-2">Renew</a> 
      <a href="/return/{{book.id}}" type="button" class="btn btn-sm btn-danger mx-2">Return</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
{% endblock b %}