{% extends "base.html" %}
{% block t %} Hello User {% endblock t %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">Renew</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/addstu">Add Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/issue">Issue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/return">Return</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/add_book">Add Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="/logout">Logout</a>
  </li>
</ul>
{% block b %}
<br>



{% endblock b %}
