{% extends "base.html" %}
{% block t %} Hello User {% endblock t %}
{% block b %}
<br>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/addstu">Add Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Issue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Renew</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Return</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/add_book">Add Book</a>
  </li>
</ul>
{% endblock b %}
