{% extends "base.html" %}
{% block t %}Student Dashboard{% endblock %}
{% block b %}
<body class="bg-light">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm border-info" style="width: 100%; max-width: 400px;">
      <div class="card-header bg-primary text-white text-center">
        <h5 class="mb-0">Login</h5>
      </div>
      <div class="card-body">
        <form method="POST" action="/student">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="sid" name="sid" placeholder="Enter Student ID..." required>
            <label for="user">Student</label>
          </div>
          <h6 class="text-danger">{{error if error else ""}}</h6>
          <button type="submit" class="btn btn-info w-100 text-white">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock b %}
